<!doctype html>
<html lang="en">
<head>
    <title>@ViewData["Title"] - DotNetCoreAuthentication</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>

    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">
            <div class="p-4 pt-5">
                <ul class="list-unstyled components mb-5" id="activeLink">
                    <li class="active">
                        <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>

                    </li>
                    <li>
                        <a asp-area="" asp-controller="MailBoxes" asp-action="Index">Mail Manager</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>
                </ul>

                <div class="footer">
                    <div class="container">
                        &copy; 2020 - DotNetCoreAuthentication - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </div>
                </div>

            </div>
        </nav>

        <!-- Page Content  -->

        <div id="content" class="p-4 p-md-5">
            <partial name="_LoginPartial" />

            <div>
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>

        </div>
    </div>

    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/popper.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/main.js"></script>
<script>
    $('#activeLink li a').click(function () {
        $(this).parent().addClass('active').siblings().removeClass('active');
    });
</script>  
    @RenderSection("Scripts", required: false)
</body>
</html>